nav {
    display: flex;
    background-color:#FCF8E8;
    font-family: 'Kanit', sans-serif;
    padding: 10px;
    justify-content: right;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
    background-color: #D4E2D4;
}

footer{
    display: flex;
    background-color: #FCF8E8;
    font-family: 'Kanit', sans-serif;
    padding: 10px;
    justify-content: center;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    background-color: #D4E2D4;

}

.top{
    background-color: #D4E2D4;
    padding: 20px;
    font-family: 'Manrope', sans-serif;
    font-size: larger;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    flex-flow: column;
}

.middle{
    background-color: #ECB390;
    text-align: center;
    padding-top: 20px;
}

.bottom{
    background-color: #D4E2D4;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #749774;
}

a:hover {
    color: #DF7861;
    border-radius: 5%;
}

hr {
    margin: 0px 0;
    border: 0;
    text-align: center;

    &:before {
        content: "\2022 \2022 \2022 \2022 \2022";
        font-size: 50px;
        color: #ffffff;
    }
}

.headshot {
    border-radius: 50%;
    border: 4px;
    border-color: #DF7861;
    border-style: inset;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #FCF8E8;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #FCF8E8;
}

.card3 {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #FCF8E8;
    flex-flow: column;
}

.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translate3D(0,-1px,0) scale(1.03);
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translate3D(0,-1px,0) scale(1.03);
}

.card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translate3D(0,-1px,0) scale(1.03);
}

.card_image {
    display: block;
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

ul.card1 {
    display: flex;
    flex-flow: column;
}

ul.card2 {
    display: flex;
    flex-flow: column;
}

ul.card3 {
    display: flex;
    flex-flow: column;
}

.one-col {
    display: flex;
    justify-content: center;
}

.cardc {
    width: 50%;
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
}

h2 {
    display: flex;
    margin: 0%;
    justify-content: center;
    padding: 20px;
    font-family: 'Manrope', sans-serif;
}

h3 {
    font-family: 'Manrope', sans-serif;
    padding-left: 10px;
}

h4 {
    font-family: 'Manrope', sans-serif;
    padding-left: 10px;
    margin: 0%;
}

p {
    font-family: 'Manrope', sans-serif;
}

li {
    font-family: 'Manrope', sans-serif;
}

dt {
    font-family: 'Manrope', sans-serif;
    padding-left: 10px;
}

dd{
    font-family: 'Manrope', sans-serif;
    padding-left: 10px;
}

.card3 dl{
    padding-left: 10px;
}

dl a {
    padding-left: 10px;
    padding-right: 10px;
}
.card2 a {
    font-family: 'Kanit', sans-serif;
}

.cardc {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #FCF8E8;
}

.cardc:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translate3D(0,-1px,0) scale(1.03);
}

label {
    font-family: 'Manrope', sans-serif;
    display: block;
}

form {
    display: flex;
    flex-flow: column;
}

.panda1 {
    position: absolute;
    right: 100px;
    width: 120px;
}

.brown1 {
    position: absolute;
    left: 100px;
    width: 120px;
}

.contact_main {
    display: flex;
    justify-content: center;
    flex-flow: column;    
    background-color: #D4E2D4;
    padding-bottom: 30px;
}

body {
    display: block;
    height: 100%;
    margin: 0px;
}

.address {
    padding-left: 20px;
}

.phone_number {
    padding-left: 20px;
}

.contact_body {
    height: 100%;
}

.contact_body h1 {
    color: #ffffff;
}

.contact_image {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    margin-bottom: 30px;
    border-style: inset;
    border-color: #749774;
}

button {
    margin-top: 20px;
    font-family: 'Manrope', sans-serif;
}

input {
    font-family: 'Manrope', sans-serif;
}

textarea {
    font-family: 'Manrope', sans-serif;
}
